box.main_window {
    /*min-width: 800px;*/
    /*min-height: 600px;*/
    font-weight: 200;
    font-size: 2rem;
    line-height: 1.5;
    padding: 2em;
}

grid.task_selection {
    border-spacing: 1.5em;
}

grid.task_selection button {
    min-height: 2em;
    min-width: 8em;
    padding: 0.3em 1em;
    font-weight: 400;
    font-size: 1.1em;
    font-family: serif;
    border-width: 0.1em;
    border-radius: 2em;
    border-color: lightslategray;
}
