//@ audio

(
    name: "Audio",
    version: "0.1",

    config: (
        use_trigger: true,
        base_volume: 0.75,
        blocks_per_row: 3,
    ),

    blocks: [
        (
            name: "Basic",
            config: (
                background: Some(rgba(0, 80, 240, 64)),
            ),
            tree: seq(([
                par(([
                    seq(([
                        timeout((1, instruction((text: "3", static: true)))),
                        timeout((1, instruction((text: "2", static: true)))),
                        timeout((1, instruction((text: "1", static: true)))),
                    ]))
                ], [
                    event(("countdown")),
                ])),
                par(([
                    audio((src: "../../full/data/sample-6s.wav")),
                    instruction((
                        text: "Either wait until the end of the audio or press \"Next\".",
                    )),
                ], [
                    event(("one_audio")),
                    key_logger(("section1")),
                    key_logger(("all_keys")),
                    fixation(()),
                ],
                    any
                )),
                par(([
                    seq(([
                        audio((src: "../../full/data/sample-6s.wav", volume: 1.0)),
                        audio((src: "../../full/data/sample-6s.wav", volume: 0.25)),
                        audio((src: "../../full/data/sample-6s.wav", volume: 2.0)),
                    ]))
                ], [
                    event(("three_audios")),
                    key_logger(("section2")),
                    key_logger(("all_keys")),
                    instruction((
                        text: "Key presses will be logged until the end of this audio",
                        static: true
                    )),
                ])),
            ]))
        ),

        (
            name: "Separate trigger",
            config: (
                use_trigger: Some(true),
                log_format: Some(yaml),
            ),
            tree: par(([
                audio((src: "../../full/data/sample-6s+.wav"))
            ], [
                instruction((
                    text:  "You should be hearing audio from the right speaker only.",
                    static: true
                ))
            ]))
        ),

        (
            name: "Embedded trigger",
            config: (
                use_trigger: Some(true),
                log_format: Some(ron),
            ),
            tree: par(([
                audio((src: "../../full/data/sample-6s-with-silence1.wav"))
                ], [
                instruction((
                    text:  "You should be hearing audio from the right speaker only.",
                    static: true,
                ))
            ]))
        ),

        (
            name: "Non-overlapping audio",
            config: (
                time_precision: Some(respect_boundaries)
            ),
            tree: par(([
                seq(([
                    par(([audio((src: "sample-6s.wav"))], [fixation(())])),
                    par(([audio((src: "sample-6s.wav"))], [fixation(())])),
                    par(([audio((src: "sample-6s.wav"))], [fixation(())])),
                    par(([audio((src: "sample-6s.wav"))], [fixation(())])),
                    par(([audio((src: "sample-6s.wav"))], [fixation(())])),
                    par(([audio((src: "sample-6s.wav"))], [fixation(())])),
                    par(([audio((src: "sample-6s.wav"))], [fixation(())])),
                    par(([audio((src: "sample-6s.wav"))], [fixation(())])),
                    par(([audio((src: "sample-6s.wav"))], [fixation(())])),
                    par(([audio((src: "sample-6s.wav"))], [fixation(())])),
                    par(([audio((src: "sample-6s.wav"))], [fixation(())])),
                    par(([audio((src: "sample-6s.wav"))], [fixation(())])),
                    par(([audio((src: "sample-6s.wav"))], [fixation(())])),
                    par(([audio((src: "sample-6s.wav"))], [fixation(())])),
                    par(([audio((src: "sample-6s.wav"))], [fixation(())])),
                    par(([audio((src: "sample-6s.wav"))], [fixation(())])),
                    par(([audio((src: "sample-6s.wav"))], [fixation(())])),
                    par(([audio((src: "sample-6s.wav"))], [fixation(())])),
                    par(([audio((src: "sample-6s.wav"))], [fixation(())])),
                    par(([audio((src: "sample-6s.wav"))], [fixation(())])),
                    par(([audio((src: "sample-6s.wav"))], [fixation(())])),
                    par(([audio((src: "sample-6s.wav"))], [fixation(())])),
                    par(([audio((src: "sample-6s.wav"))], [fixation(())])),
                    par(([audio((src: "sample-6s.wav"))], [fixation(())])),
                    par(([audio((src: "sample-6s.wav"))], [fixation(())])),
                    par(([audio((src: "sample-6s.wav"))], [fixation(())])),
                    par(([audio((src: "sample-6s.wav"))], [fixation(())])),
                    par(([audio((src: "sample-6s.wav"))], [fixation(())])),
                    par(([audio((src: "sample-6s.wav"))], [fixation(())])),
                    par(([audio((src: "sample-6s.wav"))], [fixation(())])),
                    par(([audio((src: "sample-6s.wav"))], [fixation(())])),
                    par(([audio((src: "sample-6s.wav"))], [fixation(())])),
                    par(([audio((src: "sample-6s.wav"))], [fixation(())])),
                    par(([audio((src: "sample-6s.wav"))], [fixation(())])),
                    par(([audio((src: "sample-6s.wav"))], [fixation(())])),
                    par(([audio((src: "sample-6s.wav"))], [fixation(())])),
                    par(([audio((src: "sample-6s.wav"))], [fixation(())])),
                    par(([audio((src: "sample-6s.wav"))], [fixation(())])),
                    par(([audio((src: "sample-6s.wav"))], [fixation(())])),
                    par(([audio((src: "sample-6s.wav"))], [fixation(())])),
                    par(([audio((src: "sample-6s.wav"))], [fixation(())])),
                    par(([audio((src: "sample-6s.wav"))], [fixation(())])),
                    par(([audio((src: "sample-6s.wav"))], [fixation(())])),
                    par(([audio((src: "sample-6s.wav"))], [fixation(())])),
                    par(([audio((src: "sample-6s.wav"))], [fixation(())])),
                    par(([audio((src: "sample-6s.wav"))], [fixation(())])),
                    par(([audio((src: "sample-6s.wav"))], [fixation(())])),
                    par(([audio((src: "sample-6s.wav"))], [fixation(())])),
                    par(([audio((src: "sample-6s.wav"))], [fixation(())])),
                    par(([audio((src: "sample-6s.wav"))], [fixation(())])),
                    par(([audio((src: "sample-6s.wav"))], [fixation(())])),
                    par(([audio((src: "sample-6s.wav"))], [fixation(())])),
                    par(([audio((src: "sample-6s.wav"))], [fixation(())])),
                    par(([audio((src: "sample-6s.wav"))], [fixation(())])),
                    par(([audio((src: "sample-6s.wav"))], [fixation(())])),
                    par(([audio((src: "sample-6s.wav"))], [fixation(())])),
                    par(([audio((src: "sample-6s.wav"))], [fixation(())])),
                    par(([audio((src: "sample-6s.wav"))], [fixation(())])),
                    par(([audio((src: "sample-6s.wav"))], [fixation(())])),
                    par(([audio((src: "sample-6s.wav"))], [fixation(())])),
                    par(([audio((src: "sample-6s.wav"))], [fixation(())])),
                    par(([audio((src: "sample-6s.wav"))], [fixation(())])),
                    par(([audio((src: "sample-6s.wav"))], [fixation(())])),
                    par(([audio((src: "sample-6s.wav"))], [fixation(())])),
                    par(([audio((src: "sample-6s.wav"))], [fixation(())])),
                    par(([audio((src: "sample-6s.wav"))], [fixation(())])),
                    par(([audio((src: "sample-6s.wav"))], [fixation(())])),
                    par(([audio((src: "sample-6s.wav"))], [fixation(())])),
                    par(([audio((src: "sample-6s.wav"))], [fixation(())])),
                    par(([audio((src: "sample-6s.wav"))], [fixation(())])),
                    par(([audio((src: "sample-6s.wav"))], [fixation(())])),
                    par(([audio((src: "sample-6s.wav"))], [fixation(())])),
                    par(([audio((src: "sample-6s.wav"))], [fixation(())])),
                    par(([audio((src: "sample-6s.wav"))], [fixation(())])),
                    par(([audio((src: "sample-6s.wav"))], [fixation(())])),
                    par(([audio((src: "sample-6s.wav"))], [fixation(())])),
                    par(([audio((src: "sample-6s.wav"))], [fixation(())])),
                    par(([audio((src: "sample-6s.wav"))], [fixation(())])),
                    par(([audio((src: "sample-6s.wav"))], [fixation(())])),
                    par(([audio((src: "sample-6s.wav"))], [fixation(())])),
                    par(([audio((src: "sample-6s.wav"))], [fixation(())])),
                    par(([audio((src: "sample-6s.wav"))], [fixation(())])),
                    par(([audio((src: "sample-6s.wav"))], [fixation(())])),
                    par(([audio((src: "sample-6s.wav"))], [fixation(())])),
                    par(([audio((src: "sample-6s.wav"))], [fixation(())])),
                    par(([audio((src: "sample-6s.wav"))], [fixation(())])),
                    par(([audio((src: "sample-6s.wav"))], [fixation(())])),
                    par(([audio((src: "sample-6s.wav"))], [fixation(())])),
                    par(([audio((src: "sample-6s.wav"))], [fixation(())])),
                    par(([audio((src: "sample-6s.wav"))], [fixation(())])),
                    par(([audio((src: "sample-6s.wav"))], [fixation(())])),
                    par(([audio((src: "sample-6s.wav"))], [fixation(())])),
                    par(([audio((src: "sample-6s.wav"))], [fixation(())])),
                    par(([audio((src: "sample-6s.wav"))], [fixation(())])),
                    par(([audio((src: "sample-6s.wav"))], [fixation(())])),
                    par(([audio((src: "sample-6s.wav"))], [fixation(())])),
                    par(([audio((src: "sample-6s.wav"))], [fixation(())])),
                    par(([audio((src: "sample-6s.wav"))], [fixation(())])),
                    par(([audio((src: "sample-6s.wav"))], [fixation(())])),
                    par(([audio((src: "sample-6s.wav"))], [fixation(())])),
                    par(([audio((src: "sample-6s.wav"))], [fixation(())])),
                ])),
                seq(([
                    wait((1.5)),
                    audio((src: "sample-6s.wav")),
                    audio((src: "sample-6s.wav")),
                    audio((src: "sample-6s.wav")),
                    audio((src: "sample-6s.wav")),
                    audio((src: "sample-6s.wav")),
                    audio((src: "sample-6s.wav")),
                    audio((src: "sample-6s.wav")),
                    audio((src: "sample-6s.wav")),
                    audio((src: "sample-6s.wav")),
                    audio((src: "sample-6s.wav")),
                    audio((src: "sample-6s.wav")),
                    audio((src: "sample-6s.wav")),
                    audio((src: "sample-6s.wav")),
                    audio((src: "sample-6s.wav")),
                    audio((src: "sample-6s.wav")),
                    audio((src: "sample-6s.wav")),
                    audio((src: "sample-6s.wav")),
                    audio((src: "sample-6s.wav")),
                    audio((src: "sample-6s.wav")),
                    audio((src: "sample-6s.wav")),
                    audio((src: "sample-6s.wav")),
                    audio((src: "sample-6s.wav")),
                    audio((src: "sample-6s.wav")),
                    audio((src: "sample-6s.wav")),
                    audio((src: "sample-6s.wav")),
                    audio((src: "sample-6s.wav")),
                    audio((src: "sample-6s.wav")),
                    audio((src: "sample-6s.wav")),
                    audio((src: "sample-6s.wav")),
                    audio((src: "sample-6s.wav")),
                    audio((src: "sample-6s.wav")),
                    audio((src: "sample-6s.wav")),
                    audio((src: "sample-6s.wav")),
                    audio((src: "sample-6s.wav")),
                    audio((src: "sample-6s.wav")),
                    audio((src: "sample-6s.wav")),
                    audio((src: "sample-6s.wav")),
                    audio((src: "sample-6s.wav")),
                    audio((src: "sample-6s.wav")),
                    audio((src: "sample-6s.wav")),
                    audio((src: "sample-6s.wav")),
                    audio((src: "sample-6s.wav")),
                    audio((src: "sample-6s.wav")),
                    audio((src: "sample-6s.wav")),
                    audio((src: "sample-6s.wav")),
                    audio((src: "sample-6s.wav")),
                    audio((src: "sample-6s.wav")),
                    audio((src: "sample-6s.wav")),
                    audio((src: "sample-6s.wav")),
                    audio((src: "sample-6s.wav")),
                    audio((src: "sample-6s.wav")),
                    audio((src: "sample-6s.wav")),
                    audio((src: "sample-6s.wav")),
                    audio((src: "sample-6s.wav")),
                    audio((src: "sample-6s.wav")),
                    audio((src: "sample-6s.wav")),
                    audio((src: "sample-6s.wav")),
                    audio((src: "sample-6s.wav")),
                    audio((src: "sample-6s.wav")),
                    audio((src: "sample-6s.wav")),
                    audio((src: "sample-6s.wav")),
                    audio((src: "sample-6s.wav")),
                    audio((src: "sample-6s.wav")),
                    audio((src: "sample-6s.wav")),
                    audio((src: "sample-6s.wav")),
                    audio((src: "sample-6s.wav")),
                    audio((src: "sample-6s.wav")),
                    audio((src: "sample-6s.wav")),
                    audio((src: "sample-6s.wav")),
                    audio((src: "sample-6s.wav")),
                    audio((src: "sample-6s.wav")),
                    audio((src: "sample-6s.wav")),
                    audio((src: "sample-6s.wav")),
                    audio((src: "sample-6s.wav")),
                    audio((src: "sample-6s.wav")),
                    audio((src: "sample-6s.wav")),
                    audio((src: "sample-6s.wav")),
                    audio((src: "sample-6s.wav")),
                    audio((src: "sample-6s.wav")),
                    audio((src: "sample-6s.wav")),
                    audio((src: "sample-6s.wav")),
                    audio((src: "sample-6s.wav")),
                    audio((src: "sample-6s.wav")),
                    audio((src: "sample-6s.wav")),
                    audio((src: "sample-6s.wav")),
                    audio((src: "sample-6s.wav")),
                    audio((src: "sample-6s.wav")),
                    audio((src: "sample-6s.wav")),
                    audio((src: "sample-6s.wav")),
                    audio((src: "sample-6s.wav")),
                    audio((src: "sample-6s.wav")),
                    audio((src: "sample-6s.wav")),
                    audio((src: "sample-6s.wav")),
                    audio((src: "sample-6s.wav")),
                    audio((src: "sample-6s.wav")),
                    audio((src: "sample-6s.wav")),
                    audio((src: "sample-6s.wav")),
                    audio((src: "sample-6s.wav")),
                    audio((src: "sample-6s.wav")),
                    audio((src: "sample-6s.wav")),
                    audio((src: "sample-6s.wav")),
                ])),
            ]))
        ),

        (
            name: "Overlapping audio",
            config: (
                time_precision: Some(respect_intervals)
            ),
            tree: seq(([
                audio((src: "sample-6s.wav")),
                par(([audio((src: "sample-6s.wav"))], [fixation(())])),
                audio((src: "sample-6s.wav")),
                par(([audio((src: "sample-6s.wav"))], [fixation(())])),
                audio((src: "sample-6s.wav")),
                par(([audio((src: "sample-6s.wav"))], [fixation(())])),
                audio((src: "sample-6s.wav")),
                par(([audio((src: "sample-6s.wav"))], [fixation(())])),
                audio((src: "sample-6s.wav")),
                par(([audio((src: "sample-6s.wav"))], [fixation(())])),
                audio((src: "sample-6s.wav")),
                par(([audio((src: "sample-6s.wav"))], [fixation(())])),
                audio((src: "sample-6s.wav")),
                par(([audio((src: "sample-6s.wav"))], [fixation(())])),
                audio((src: "sample-6s.wav")),
                par(([audio((src: "sample-6s.wav"))], [fixation(())])),
                audio((src: "sample-6s.wav")),
                par(([audio((src: "sample-6s.wav"))], [fixation(())])),
                audio((src: "sample-6s.wav")),
                par(([audio((src: "sample-6s.wav"))], [fixation(())])),
                audio((src: "sample-6s.wav")),
                par(([audio((src: "sample-6s.wav"))], [fixation(())])),
                audio((src: "sample-6s.wav")),
                par(([audio((src: "sample-6s.wav"))], [fixation(())])),
                audio((src: "sample-6s.wav")),
                par(([audio((src: "sample-6s.wav"))], [fixation(())])),
                audio((src: "sample-6s.wav")),
                par(([audio((src: "sample-6s.wav"))], [fixation(())])),
                audio((src: "sample-6s.wav")),
                par(([audio((src: "sample-6s.wav"))], [fixation(())])),
                audio((src: "sample-6s.wav")),
                par(([audio((src: "sample-6s.wav"))], [fixation(())])),
                audio((src: "sample-6s.wav")),
                par(([audio((src: "sample-6s.wav"))], [fixation(())])),
                audio((src: "sample-6s.wav")),
                par(([audio((src: "sample-6s.wav"))], [fixation(())])),
                audio((src: "sample-6s.wav")),
                par(([audio((src: "sample-6s.wav"))], [fixation(())])),
                audio((src: "sample-6s.wav")),
                par(([audio((src: "sample-6s.wav"))], [fixation(())])),
                audio((src: "sample-6s.wav")),
                par(([audio((src: "sample-6s.wav"))], [fixation(())])),
                audio((src: "sample-6s.wav")),
                par(([audio((src: "sample-6s.wav"))], [fixation(())])),
                audio((src: "sample-6s.wav")),
                par(([audio((src: "sample-6s.wav"))], [fixation(())])),
                audio((src: "sample-6s.wav")),
                par(([audio((src: "sample-6s.wav"))], [fixation(())])),
                audio((src: "sample-6s.wav")),
                par(([audio((src: "sample-6s.wav"))], [fixation(())])),
                audio((src: "sample-6s.wav")),
                par(([audio((src: "sample-6s.wav"))], [fixation(())])),
                audio((src: "sample-6s.wav")),
                par(([audio((src: "sample-6s.wav"))], [fixation(())])),
                audio((src: "sample-6s.wav")),
                par(([audio((src: "sample-6s.wav"))], [fixation(())])),
                audio((src: "sample-6s.wav")),
                par(([audio((src: "sample-6s.wav"))], [fixation(())])),
                audio((src: "sample-6s.wav")),
                par(([audio((src: "sample-6s.wav"))], [fixation(())])),
                audio((src: "sample-6s.wav")),
                par(([audio((src: "sample-6s.wav"))], [fixation(())])),
                audio((src: "sample-6s.wav")),
                par(([audio((src: "sample-6s.wav"))], [fixation(())])),
                audio((src: "sample-6s.wav")),
                par(([audio((src: "sample-6s.wav"))], [fixation(())])),
                audio((src: "sample-6s.wav")),
                par(([audio((src: "sample-6s.wav"))], [fixation(())])),
                audio((src: "sample-6s.wav")),
                par(([audio((src: "sample-6s.wav"))], [fixation(())])),
                audio((src: "sample-6s.wav")),
                par(([audio((src: "sample-6s.wav"))], [fixation(())])),
                audio((src: "sample-6s.wav")),
                par(([audio((src: "sample-6s.wav"))], [fixation(())])),
                audio((src: "sample-6s.wav")),
                par(([audio((src: "sample-6s.wav"))], [fixation(())])),
                audio((src: "sample-6s.wav")),
                par(([audio((src: "sample-6s.wav"))], [fixation(())])),
                audio((src: "sample-6s.wav")),
                par(([audio((src: "sample-6s.wav"))], [fixation(())])),
                audio((src: "sample-6s.wav")),
                par(([audio((src: "sample-6s.wav"))], [fixation(())])),
                audio((src: "sample-6s.wav")),
                par(([audio((src: "sample-6s.wav"))], [fixation(())])),
                audio((src: "sample-6s.wav")),
                par(([audio((src: "sample-6s.wav"))], [fixation(())])),
                audio((src: "sample-6s.wav")),
                par(([audio((src: "sample-6s.wav"))], [fixation(())])),
                audio((src: "sample-6s.wav")),
                par(([audio((src: "sample-6s.wav"))], [fixation(())])),
                audio((src: "sample-6s.wav")),
                par(([audio((src: "sample-6s.wav"))], [fixation(())])),
                audio((src: "sample-6s.wav")),
                par(([audio((src: "sample-6s.wav"))], [fixation(())])),
                audio((src: "sample-6s.wav")),
                par(([audio((src: "sample-6s.wav"))], [fixation(())])),
                audio((src: "sample-6s.wav")),
                par(([audio((src: "sample-6s.wav"))], [fixation(())])),
                audio((src: "sample-6s.wav")),
                par(([audio((src: "sample-6s.wav"))], [fixation(())])),
            ]))
        ),

        (
            name: "Looping Audio",
            tree: timeout((
                15.0,
                audio((src: "sample-6s.wav", looping: true)),
            ))
        ),
    ]
)
